.RegisterPage {
  background-image: url('/register-page-bg.jpg');
  background-size: cover;
  height: 100vh;
  padding: 80px 20px;
  overflow-x: clip;
  overflow-y: auto;
}

.RegisterPageMain {
  align-items: center;
  background-color: #0a0a0ade;
  border: 1px solid #fff;
  box-shadow: 0 0 0 16px #0a0a0ade;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  max-width: 500px;
  padding: 40px;
  position: relative;
}

.RegisterPageLogo {
  width: 270px;
}

.RegisterPageMain hr {
  border: 1px solid #414141;
  width: 100%;
}

.RegisterPageForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.RegisterPageFormHeader {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.RegisterPageForm h2 {
  color: #fff;
  font-family: 'Things Digital', sans-serif;
  font-size: 28px;
  text-align: center;
}

.RegisterPageForm p {
  text-align: center;
}

.RegisterPageButton {
  align-items: center;
  background-color: #272727;
  border: none;
  color: white;
  display: flex;
  font-size: 14px;
  gap: 8px;
  justify-content: center;
  padding: 16px;
  width: 100%;
}

.RegisterPageOr {
  align-items: center;
  display: flex;
  gap: 16px;
  width: 100%;
}

.RegisterPageOr div {
  border: 1px solid #414141;
  flex: 1;
}

.RegisterPageFormGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.RegisterPageFormGroup label {
  color: #fff;
  font-size: 14px;
}

.RegisterPageFormGroup input {
  background: transparent;
  border: 1px solid white;
  color: #fff;
  padding: 12px;
}

.RegisterPageFormGroup input::placeholder {
  color: #808080;
}

.RegisterPageReveal {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.RegisterPageFormRemember {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.RegisterPageFormRemember label {
  align-items: center;
  display: flex;
}

.RegisterPageFormRememberCheckbox {
  display: block;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  font-size: 22px;
  height: 20px;
  user-select: none;
}

.RegisterPageFormRememberCheckbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.RegisterPageFormRememberCheckboxIndicator {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.RegisterPageFormRememberCheckbox:hover input[type="checkbox"] ~ .RegisterPageFormRememberCheckboxIndicator {
  background-color: #ccc;
}

.RegisterPageFormRememberCheckbox input[type="checkbox"]:checked ~ .RegisterPageFormRememberCheckboxIndicator {
  background-color: #17B26A;
}

.RegisterPageFormRememberCheckboxIndicator::after {
  content: "";
  position: absolute;
  display: none;
}

.RegisterPageFormRememberCheckbox input[type="checkbox"]:checked ~ .RegisterPageFormRememberCheckboxIndicator::after {
  display: block;
}

.RegisterPageFormRememberCheckboxIndicator::after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.RegisterPageForgot {
  color: #fff;
  font-size: 14px;
  text-align: right;
}

.RegisterPage button[type="submit"] {
  background: none;
  border: none;
  color: white;
  font-family: 'Things Digital';
  font-size: 16px;
  height: 100px;
  position: relative;
  width: 100%;
}

.RegisterPage button[type="submit"] svg {
  height: auto;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.RegisterPage button[type="submit"] span {
  position: relative;
  z-index: 1;
}

.RegisterPageRegister {
  text-align: center;
}

.RegisterPageRegister a {
  color: #f9b640;
}

.RegisterPageTerms {
  color: #f9b640;
  text-decoration: underline;
}

.RegisterPageTriangle {
  bottom: 12px;
  left: 12px;
  position: absolute;
}

.RegisterPageGamepad {
  top: -80px;
  left: 0;
  position: absolute;
  transform: translateX(-50%) rotate(-30deg);
  width: 200px;
}

.RegisterPageHeadphones {
  right: 0;
  bottom: -150px;
  position: absolute;
  transform: translateX(50%) rotate(30deg);
  width: 200px;
}

@media (max-width: 600px) {
  .RegisterPage {
    background-image: none;
    padding: 0;
  }

  .RegisterPageMain {
    border: none;
    box-shadow: none;
    gap: 20px;
    max-width: none;
    padding: 40px 20px 80px;
  }

  .RegisterPageLogo {
    width: 186px;
  }

  .RegisterPageFormHeader h2 {
    font-size: 18px;
  }

  .RegisterPageFormHeader p {
    font-size: 14px;
  }

  .RegisterPage button[type="submit"] {
    font-size: 12px;
    height: 80px;
  }

  .RegisterPage button[type="submit"] svg {
    width: 60%;
  }

  .RegisterPageHeadphones,
  .RegisterPageGamepad {
    display: none;
  }

  .RegisterPageTriangle {
    bottom: 0;
    left: 0;
  }
}
